/* Style for Homepage (Odin Recipes) */
* {
    background-color: beige;
}
#recipe-list {
    font-size: 35px;
    text-align: center;
}
div ul{
    display: inline-block;
    text-align: left;
}
h1 {
    text-align: center;
    font-family: 'Courier New', sans-serif;
    font-size: 70px;
}
